<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime World</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <style>
        body {
          background-image: url('{{ imagenFondo["url"] }}');
        }
    </style>
</head>
    <body>
        <center>
            <h1 class="p-3 mb-2 bg-primary text-white">Personaje: {{ personaje["data"]["name"] }}</h1>
            {% if personaje["data"]["name_kanji"] %}
            <h1 class="p-3 mb-2 bg-danger text-white">Nombre en japonés: {{ personaje["data"]["name_kanji"] }}</h1><br><br>
            {% endif %}
            <img src="{{ personaje["data"]["images"]["jpg"]["image_url"] }}" width="500px" height="400px"/><br><br>
            <a href="/PersonajeRandom" class="btn btn-warning">Otro Personaje</a>
            <a href="/imagen" class="btn btn-warning">Volver</a>
        </center>
    </body>   
</html>